<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.my_application">

    <application
        android:label="AtlasCare"
        android:allowBackup="true"
        android:theme="@style/Theme.MyApplication"
        tools:ignore="ExtraText">

        <activity android:name=".MainActivity"
            android:exported="true">
            <!-- THIS MAKES IT THE DEFAULT ACTIVITY -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AddPatientActivity"/>
        <activity android:name=".StatisticsActivity"/>

    </application>
</manifest>
