<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.my_application">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <application
        android:label="AtlasCare"
        android:allowBackup="true"
        android:theme="@style/Theme.MyApplication"
        tools:ignore="ExtraText">

        <activity android:name=".MainActivity"
            android:exported="true">
            <!-- THIS MAKES IT THE DEFAULT ACTIVITY -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AddPatientActivity"/>
        <activity android:name=".StatisticsActivity"/>

        <!-- Added FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.my_application.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
